[include]
	path = ~/Dropbox/settings/git/dot-gitconfig

[user]
{{ if eq .chezmoi.hostname "alpha" }}
	email = lie.1296@gmail.com
{{ else if eq .chezmoi.hostname "ryan-epsilon" }}
	email = ryan.lie@firmus.co
	signingkey = B1EAFA656D707CB6
{{ else if eq .chezmoi.hostname "ryan-delta" }}
	email = ryan.lie@firmus.co
	signingkey = 4D73DDDB2B01E001D41EE7ACB1823AE7006359B5
{{ else if eq .chezmoi.hostname "ryan-zeta" }}
	email = ryan.lie@uptickhq.com
{{ end }}
	name = Lie Ryan

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[core]
	editor = /usr/bin/vim

[init]
	defaultBranch = main
