[include]
	path = ~/Dropbox/settings/git/dot-gitconfig

[user]
{{ if eq .chezmoi.hostname "alpha" }}
	email = lie.1296@gmail.com
{{ else if eq .chezmoi.hostname "ryan-epsilon" }}
	email = ryan.lie@firmus.co
{{ end }}
	name = Lie Ryan

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[core]
	editor = /usr/bin/vim

[init]
	defaultBranch = main
