#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" -}}
sudo apt install \
    --no-install-recommends \
    jupyter-qtconsole \
    python3-pip \
    python3-venv
{{ end -}}

pip install --user \
    virtualenvwrapper \
    pipx

python3 -m pipx ensurepath

python3 -m pipx install cookiecutter 
python3 -m pipx install poetry
python3 -m pipx install pre-commit
