[Desktop Entry]
Version=1.0
Type=Application
Name=kitty URL Launcher
GenericName=Terminal emulator
Comment=Open URLs with kitty
TryExec=/home/lieryan/.local/kitty.app/bin/kitty
Exec={{ .chezmoi.homeDir }}/.local/kitty.app/bin/kitty +open %U
Icon={{ .chezmoi.homeDir }}/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
NoDisplay=true
MimeType=image/*;application/x-sh;application/x-shellscript;inode/directory;text/*;x-scheme-handler/kitty;
